---
layout: archive
author_profile: false
---

{% include base_path %}

DevZendo.org is the home of several carefully-considered open source projects involving peer-to-peer networking,
and software development for the Java Virtual Machine and Maven build ecosystems.

Find out more on our <strong><a href="{{ base_path }}/about">about</a></strong> page....

<hr>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
